body {
    margin: 0px;
    text-align: center;
}


div {
    background-color: #5F6F94;
}

h1 {
    margin-top: 0;
}


.top-container {
    padding-top: 100px ;
    background-color: #5F6F94;
    position: relative;
}


.middle-container {
    width: 200px;
    height: 200px;
    background-color: red;  
    /* border: solid 20px;
    margin-left: 260px; */
}


.bottom-container {
    width: 200px;
    height: 200px;
    background-color: blue;
    /* border: solid 10px;
    margin-left: 500px; */
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.pro {
    text-decoration: underline;
}